@font-face {
    font-family: 'Cal Sans';
    src: url("/cal.ttf");
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cal Sans';
    @apply tracking-wide
}

@tailwind base;
@tailwind components;
@tailwind utilities;